/* Desktop view */
@media (min-width: 768px) {
  /* INDEX PAGE */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
  }
  #menu {
    width: 50%;
  }
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero h2 {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
  .hero button {
    margin-top: 1rem;
  }
  .grid-container {
    display: grid;
    grid-auto-columns: 3 (1fr);
    grid-auto-rows: 3 (1fr);
    grid-template-areas:
      "welcome welcome accomodations"
      "reviews reviews reviews"
      "contact contact booking";
  }
  .testimonials {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .testimonials blockquote {
    width: 50%;
  }

  .carousel-item h3 {
    padding-top: 1rem;
    font-size: 1.5rem;
  }
  footer {
    padding-top: 2rem;
  }
  footer a:hover {
    color: rgb(237, 174, 26);
  }
  footer p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  footer img {
    width: 90px;
  }

  /* ROOMS PAGE */
  .room-one p {
    width: 40%;
  }
  .room-one ul {
    width: 40%;
  }
  .room-two p {
    width: 40%;
  }
  .room-two ul {
    width: 40%;
  }
  .room-three p {
    width: 40%;
  }
  .room-three ul {
    width: 40%;
  }

  /* CONTACT PAGE */
  .contact-info img {
    width: 30%;
  }

  #aboutUs {
    width: 40%;
  }
}
